<footer>
    <div class="footer-top">
      <div class="icon-box">
        <i class="fas fa-truck"></i>
        <h3>Cash On Delivery</h3>
        <p>Cash on delivery fee is 15 EGP</p>
      </div>
      <div class="icon-box">
        <i class="fas fa-store"></i>
        <h3>Product Replacement at Store</h3>
        <p>Buy online, exchange in store</p>
      </div>
      <div class="icon-box">
        <i class="fas fa-undo"></i>
        <h3>Easy & Free Return via Aramex</h3>
        <p>Return within 30 days</p>
      </div>
    </div>
    <br />
    <div class="footer-bottom">
      <div class="footer-column">
        <h4>E-Commerce</h4>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/category/woman">Woman</a></li>
          <li><a routerLink="/category/man">Man</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Contact Us</h4>
        <ul>
          <li><a routerLink="/contact">Contact Form</a></li>
        </ul>
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer-column">
        <h4>Help</h4>
        <ul>
          <li><a routerLink="/FAQs">FAQs</a></li>
        </ul>
      </div>
    </div>
  </footer>  