<div class="category-page">
  
    <aside class="filter-section">
        <h3>Filters</h3>
        <div class="filter-group">
            <h4>Price</h4>
            <label>Min Price: <input type="number" [(ngModel)]="minPrice" name="minPrice" id="min-price" placeholder="Min"></label>
            <label>Max Price: <input type="number" [(ngModel)]="maxPrice" name="maxPrice" id="max-price" placeholder="Max"></label>
            <button id="filter-price" (click)="applyFilters()">Apply</button>
        </div>
       
        <div class="filter-group">
            <h4>Subcategory</h4>
            <label *ngFor="let subcategory of subcategories">
              <input type="checkbox" [value]="subcategory._id"
              (change)="onSubcategoryChange($event)"> {{ subcategory.name }}
            </label>
          </div>
    </aside>

   
    <main class="product-section">
        <div>
            <form action="" class="search-form">
                <input type="search" [(ngModel)]="searchQuery" (input)="applyFilters()" id="search-box" name = "searchQuery" placeholder="search here...">
                <label for="search-box" class="fas fa-search"></label>
            </form>  
        </div>
        <div class="sort-section">
            <label for="sort" style="font-size: 1.9rem;">Sort by:</label>
            <select id="sort" [(ngModel)]="sortOption" (change)="applyFilters()" name= "sortOption">
                <option value="price-asc">Price: Low to High</option>
                <option value="price-desc">Price: High to Low</option>
                <option value="name-asc">Name: A to Z</option>
                <option value="name-desc">Name: Z to A</option>
            </select>
        </div>
        <div class="product-grid">
            <app-product
              *ngFor="let product of paginatedProducts"
              [product]="product"
              (addToCart)="addToCart($event)">
            </app-product>
          </div>
          <div class="pagination">
            <button 
              [disabled]="currentPage === 1" 
              (click)="onPrevPage()"
            >
              &laquo; Previous
            </button>
            
            <span style="font-size: 15px;">
              Page {{ currentPage }} of {{ Math.ceil(products.length / productsPerPage) }}
            </span>
            
            <button 
              [disabled]="currentPage === Math.ceil(products.length / productsPerPage)" 
              (click)="onNextPage()"
            >
              Next &raquo;
            </button>
          </div>
    </main>
</div>
