<div class="registerContainer">
    <div class="form-container">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <h2>Register</h2>
          
        <div class="form-section">
            <h3>Personal Information</h3>
            <div class="form-group">
              <label for="first-name">First Name</label>
              <input id="first-name" formControlName="firstName" />
              <div class="message" *ngIf = "signupForm.get('firstName')!.invalid && signupForm.get('firstName')!.touched">
                <span *ngIf="signupForm.get('firstName')!.errors?.['required']">First Name is required</span>
              </div>
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" formControlName="lastName"/>
                <div class="message" *ngIf = "signupForm.get('lastName')!.invalid && signupForm.get('lastName')!.touched">
                  <span *ngIf="signupForm.get('lastName')!.errors?.['required']">Last Name is required</span>
                </div>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select id="gender" formControlName="gender">
                  <option value="female">Female</option>
                  <option value="male">Male</option>
                </select>
                <div class="message" *ngIf = "signupForm.get('gender')!.invalid && signupForm.get('gender')!.touched">
                  <span *ngIf="signupForm.get('gender')!.errors?.['gender']">Gender is required</span>
                </div>
              </div>
            <div class="form-group">
                <label for="birthdate">Birthdate</label>
                <input type="date" id="birthdate" formControlName="birthdate" >
                <div class="message" *ngIf = "signupForm.get('birthdate')!.invalid && signupForm.get('birthdate')!.touched">
                  <span *ngIf="signupForm.get('birthdate')!.errors?.['birthdate']">Birthdate is required</span>
                </div>
              </div>
        </div>
      
        <div class="form-section">
            <h3>Contact Information</h3>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" formControlName="email" >
              <div class="message" *ngIf = "signupForm.get('email')!.invalid && signupForm.get('email')!.touched">
                <span *ngIf="signupForm.get('email')!.errors?.['required']">email is required</span>
                <span *ngIf="signupForm.get('email')!.errors?.['email']">email format</span>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="tel" id="phone" formControlName="phone" placeholder="1234567890" >
              <div class="message" *ngIf = "signupForm.get('phone')!.invalid && signupForm.get('phone')!.touched">
                <span *ngIf="signupForm.get('phone')!.errors?.['phone']">Phone is required</span>
              </div>
            </div>
          </div>
    
          <div class="form-section">
            <h3>Address</h3>
            <div class="form-group">
              <label for="address">Street Address</label>
              <input type="text" id="address" formControlName="address" >
              <div class="message" *ngIf = "signupForm.get('address')!.invalid && signupForm.get('address')!.touched">
                <span *ngIf="signupForm.get('address')!.errors?.['address']">address is required</span>
              </div>
            </div>
            <div class="form-group">
              <label for="floor-number">Floor Number</label>
              <input type="text" id="floor-number" formControlName="floorNumber" placeholder="e.g., 2" >
              <div class="message" *ngIf = "signupForm.get('floorNumber')!.invalid && signupForm.get('floorNumber')!.touched">
                <span *ngIf="signupForm.get('floorNumber')!.errors?.['floorNumber']">floor Number is required</span>
              </div>
            </div>
            <div class="form-group">
              <label for="apartment-number">Apartment Number</label>
              <input type="text" id="apartment-number" formControlName="apartmentNumber" placeholder="e.g., 12B" >
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" id="city" formControlName="city" >
              <div class="message" *ngIf = "signupForm.get('city')!.invalid && signupForm.get('city')!.touched">
                <span *ngIf="signupForm.get('city')!.errors?.['city']">city is required</span>
              </div>
            </div>
            <div class="form-group">
              <label for="zip-code">ZIP Code</label>
              <input type="text" id="zip-code" formControlName="zipCode" pattern="[0-9]{5}" placeholder="e.g., 12345" >
            </div>
          </div>
    

          <div class="form-section">
            <h3>Password</h3>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" formControlName="password" >
              <div class="message" *ngIf = "signupForm.get('password')!.invalid && signupForm.get('password')!.touched">
                <span *ngIf="signupForm.get('password')!.errors?.['required']">password is required</span>
                <span *ngIf="signupForm.get('password')!.errors?.['validation']">password should be at least 8 characters conatins uppercase, lowercase,number, specialcharacter</span>
              </div>
            </div>
            <div class="form-group">
              <label for="reconfirm-password">Reconfirm Password</label>
              <input type="password" id="reconfirm-password" formControlName="confirmPassword" >
              <div class="message" *ngIf = "signupForm.get('confirmPassword')!.invalid && signupForm.get('confirmPassword')!.touched">
                <span *ngIf="signupForm.get('confirmPassword')!.errors?.['required']">Reconfirm is required</span>
                <span *ngIf="signupForm.get('confirmPassword')!.errors?.['passwordmismatch']">Reconfirm should be same as password</span>
              </div>
            </div>
          </div>
          <button class="form-btn" type="submit" [disabled]="signupForm.invalid">Register</button>
        </form>
      </div>    
</div>
