<div class="dashboard">
  <aside class="sidebar">
    <ul>
      <li><a routerLink="users" routerLinkActive="active">Users</a></li>
      <li><a routerLink="user-roles" routerLinkActive="active">User Roles</a></li>
      <li><a routerLink="products" routerLinkActive="active">Products</a></li>
      <li><a routerLink="orders" routerLinkActive="active">Orders</a></li>
      <li><a routerLink="cart" routerLinkActive="active">Cart</a></li>
      <li><a routerLink="categories" routerLinkActive="active">Categories</a></li>
      <li><a routerLink="general" routerLinkActive="active">General Updates</a></li>
      <li><a routerLink="contact-form" routerLinkActive="active">Contact Messages</a></li>
    </ul>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
