<div class="container">
    <div class="header">
        <h2>User Management</h2>
        <button class="btn btn-add" (click)="onAdd()">
            <i class="fas fa-plus"></i>
            Add User
        </button>
    </div>
    
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user._id}}</td>
                    <td>{{user.email}}</td>
                    <td class="capitalize" >{{ getRoleName(user.roleId!) }}</td>
                    <td>{{user.createdAt | date:'mediumDate'}}</td>
                    <td>{{user.updatedAt | date:'mediumDate'}}</td>
                    <td>
                        <div class="actions">
                            <button class="btn btn-view" (click)="onView(user._id!)">
                                <i class="fas fa-eye"></i>
                                View
                            </button>
                            <button class="btn btn-edit" (click)="onEdit(user._id!)">
                                <i class="fas fa-edit"></i>
                                Edit
                            </button>
                            <button class="btn btn-delete" (click)="onDelete(user._id!)">
                                <i class="fas fa-trash"></i>
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>